.good-answer{
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 100px;
  @media (max-width: 680px) {
    font-size: 50px;
  }
}
.bad-answer{
  text-align: center;
  font-size: 100px;
  @media (max-width: 680px) {
    font-size: 50px;
  }
}